@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    <hr />

   @*  <h3>My Purchases</h3>

    @if (Model.Purchases != null && Model.Purchases.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Plan</th>
                <th>Years</th>
                <th>Total Price</th>
                <th>License Key</th>
                <th>Expiry Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var purchase in Model.Purchases)
            {
                <tr>
                    <td>@purchase.Plan</td>
                    <td>@purchase.Years</td>
                    <td>$@purchase.TotalPrice</td>
                    <td>@purchase.LicenseKey</td>
                    <td>@purchase.ExpiryDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You have not purchased any licenses yet.</p>
    }
 *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
